{{ define "main" }}
  <div id="review" class="py-3">
    <div class="lead text-display">Cigar Review</div>
    <div class="row">
      <article id="review-body" class="col-xl-9 col-lg-8">
        <header>
          <h1 class="display-4">
            <span class="text-gradient">{{ .Title }}</span>
          </h1>
        </header>
        {{ partial "metadata.html" . }}
        <div class="review-content">
          {{ .Content }}
        </div>
      </article>
      <div class="col-xl-3 col-lg-4">
        {{ partial "cigar-sidebar.html" . }}
      </div>
    </div>
  </div>
  <div id="comments" class="py-3">
    {{ template "_internal/disqus.html" . }}
  </div>
{{ end }}