<table class="w-100">
    <tr>
        <th>Brand</th>
        <td>{{ .brand }}</td>
    </tr>
    <tr>
        <th>Vitola</th>
        <td>{{ .vitola }} ({{ .length }}" &times; {{.ring_guage}})</td>
    </tr>
    <tr>
        <th>MSRP</th>
        <td>{{ .msrp }}</td>
    </tr>
    <tr>
        <th>Wrapper</th>
        <td>{{ .wrapper }}</td>
    </tr>
    <tr>
        <th>Binder</th>
        <td>{{ .binder }}</td>
    </tr>
    <tr>
        <th>Filler</th>
        <td>{{ .filler }}</td>
    </tr>
    <tr>
        <th>Runtime</th>
        <td>{{ .runtime }}</td>
    </tr>
</table>